@import "../common/style/mixins";
@import "../common/style/variables";

body {
  background: $bgColor;
  margin: 0;
  font: 400 20px/1.8 'PT Sans', sans-serif;
  color: $primaryColor;

  .appBlock {
    height: 100vh;
    margin-left: 320px;
    padding-left: 80px;

    .advantages {
      height: 85%;
      position: relative;

      .yearTitle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 200px;
        font-weight: 700;
        line-height: 160px;
        color: #5D5FEF;
        white-space: nowrap;

        span:nth-child(2) {
          color: #ee5da7;
          padding-left: 80px;
        }
      }

      .dateTitle {
        position: absolute;
        top: 170px;
        left: 0;
        font-weight: 700;
        font-size: 56px;
        line-height: 120%;
        width: 353px;
      }
      .anim2 {
        animation: spin22 2s linear forwards;
        .advantages-circle__element {
          &:nth-of-type(2) {
            animation: spin222 2s linear forwards;
          }
        }
      }
      .anim3 {
        animation: spin33 2s linear forwards;
        .advantages-circle__element {
          &:nth-of-type(3) {
            animation: spin333 2s linear forwards;
          }
        }
      }
      &-circle {
        @include distribute-on-circle(6, 530px, 56px);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        animation: spin 2s linear forwards;
        margin: 0;
        border: 1px solid $primaryColor;

        &__element {
          &:nth-of-type(1) {
            //offset-path: path("M265,0 A265,265 0 1,1 265,530 A265,265 0 1,1 265,0");
           //animation: spin1 2s linear forwards;
           // offset-rotate: 0deg;
          }
          //
          //&:nth-of-type(2) {
          //  animation: spin2 2s linear forwards;
          //}
          //
          //&:nth-of-type(3) {
          //  animation: spin3 2s linear forwards;
          //}
          //
          //&:nth-of-type(4) {
          //  animation: spin4 2s linear forwards;
          //}
          //
          //&:nth-of-type(5) {
          //  animation: spin5 2s linear forwards;
          //}
          //
          //&:nth-of-type(6) {
          //  animation: spin6 2s linear forwards;
          //}


          .pointTitle {
            position: absolute;
            top: 22%;
            left: 76px;
            font-weight: 700;
          }

          .passive {
            min-height: 6px;
            min-width: 6px;
            height: 6px;
            width: 6px;
            border: 1px solid $primaryColor;
            background: $primaryColor;
            border-radius: 50%;
            margin: 25px;

            div {
              font-size: 0;
            }

            &:hover div {
              font-size: 1rem;
              transition: all 0.5s ease-in-out;
            }
          }

          .active, .passive:hover {
            display: flex;
            position: relative;
            min-width: 56px;
            min-height: 56px;
            width: 56px;
            height: 56px;
            border: 1px solid $primaryColor;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin: 0;
            background: $bgColor;
            transition: all 0.5s ease-in-out;
          }
        }
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -50%) rotate(300deg);
  }
}

@keyframes spin1 {
  0% {
    transform: translate(265px) rotate(0);
  }
  100% {
    transform: translate(265px) rotate(-300deg);
    offset-rotate: 0deg;
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(60deg) translate(265px) rotate(300deg);
  }
  100% {
    transform: rotate(60deg) translate(265px) rotate(0deg);
  }
}

@keyframes spin3 {
  0% {
    transform: rotate(120deg) translate(265px) rotate(240deg);
  }
  100% {
    transform: rotate(120deg) translate(265px) rotate(-60deg);
  }
}

@keyframes spin4 {
  0% {
    transform: rotate(180deg) translate(265px) rotate(180deg);
  }
  100% {
    transform: rotate(180deg) translate(265px) rotate(-120deg);
  }
}

@keyframes spin5 {
  0% {
    transform: rotate(240deg) translate(265px) rotate(120deg);
  }
  100% {
    transform: rotate(240deg) translate(265px) rotate(-180deg);
  }
}

@keyframes spin6 {
  0% {
    transform: rotate(300deg) translate(265px) rotate(60deg);
  }
  100% {
    transform: rotate(300deg) translate(265px) rotate(-240deg);
  }
}


@keyframes spin22 {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -50%) rotate(240deg);
  }
}
@keyframes spin222 {
  0% {
    transform: rotate(60deg) translate(265px) rotate(300deg);
  }
  100% {
    transform: rotate(60deg) translate(265px) rotate(60deg);
  }
}
@keyframes spin33 {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}
@keyframes spin333 {
  0% {
    transform: rotate(120deg) translate(265px) rotate(240deg);
  }
  100% {
    transform: rotate(120deg) translate(265px) rotate(60deg);
  }
}