@import "../common/style/variables";

body {
  background: $bgColor;
  margin: 0;
  font: 400 20px/1.8 'PT Sans', sans-serif;
  color: $primaryColor;

  .appBlock {
    height: 100vh;
    margin-left: 320px;
    border: 1px solid rgba(66, 86, 122, 0.1);
    position: relative;
    box-sizing: border-box;

    &::after {
      position: absolute;
      background: $primaryColor;
      opacity: 0.1;
      content: '';
      width: 1px;
      height: 100%;
      left: 50%;
      top:0
    }
    &::before {
      position: absolute;
      background: $primaryColor;
      opacity: 0.1;
      content: '';
      width: 100%;
      height: 1px;
      left: 0;
      top: 40%
    }
  }
}

