.logo {
  position:absolute;
  width: 30px;
  height: 30px;
  left:13%;
  top:13%;
  border: 1px solid;
  border-radius: 50%;
  text-align: center;
  cursor: pointer
}

.circle {
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:500px;
  height:500px;
  border:1px solid #000;
  border-radius:50%;
  margin:0 auto;
}